*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
header{
    
    background-size: cover;
    background-position: center;
}
ul{
    list-style: none;
    float: left;
    display: flex;
    margin-top: 20px;

}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px 109.3px;
    text-transform: uppercase;
    border: 1px solid #7b7d7d;
    background-color: #fef9e7;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover {
    background: #fff;
    color: rgb(239, 25, 25);
}
.entête{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./image/Sénégal\ flag.png);
    background-size: cover;
    color: #fff;
}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: #ce892e    ;
    color: #000;
}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}